// element 样式补丁
@import '../unit/_color.scss';
@import '../unit/_size.scss';

/* Menu */
.el-menu--horizontal > .el-submenu.is-active .el-submenu__title:hover {
  background-color: transparent;
}

/* Table */
.el-table {
  border-radius: $border-radius-button;
  color: #fff;
  border: 1px solid $color-border-main;
}
.el-table td,
.el-table th {
  padding: 10px 0;
}
.el-table__empty-block {
  color: $color-text-main;
  background-color: $color-table-body;
}
.el-table .el-table__header th {
  background-color: $color-table-head;
  color: $color-text-main;
}
.el-table td,
.el-table th.is-leaf {
  border-bottom: 1px solid $color-table-head;
}
.el-table .el-input__inner {
  border: 1px solid $color-border-main;
}
.el-table tr {
  background-color: $color-table-body;
}
.el-table--group::after,
.el-table--border::after,
.el-table::before {
  background-color: $color-table-head;
}
.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: $color-table-hover;
}
.el-table .cell {
  padding-left: 18px;
  padding-right: 18px;
}
.el-table__expanded-cell {
  background-color: $color-table-body;
}
.el-table__expand-icon {
  color: $color-text-main;
}
.el-table .el-button.el-button--text {
  padding: 3px 0px;
}

/* Menu */
.el-menu--horizontal > .el-submenu.is-active .el-submenu__title {
  color: $color-primary;
  &:hover {
    color: $color-primary;
  }
}
.el-menu--horizontal > .el-submenu .el-submenu__title {
  color: $color-text-sub;
  &:hover {
    background: transparent;
    color: $color-text-main;
  }
}

/* Button */
.el-button {
  border-radius: $border-radius-button;
}
.el-button--default {
  border: 1px solid $color-primary;
  background: transparent;
  color: $color-primary;
}

/* Select or Input */
.el-textarea__inner,
.el-input__inner {
  color: $color-text-main;
  background-color: transparent;
  border: 1px solid $color-border-main;
  border-radius: $border-radius-button;
}
.el-select:hover .el-input__inner,
.el-input:hover .el-input__inner,
.el-textarea__inner:hover,
.el-range-editor.el-input__inner:hover {
  border-color: $color-primary;
}
.el-input__inner {
  &::placeholder {
    color: #666e81;
  }
  &::-webkit-input-placeholder {
    /* WebKit browsers 适配谷歌 */
    color: #666e81;
  }
  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 适配火狐 */
    color: #666e81;
  }
  &::-moz-placeholder {
    /* Mozilla Firefox 19+ 适配火狐 */
    color: #666e81;
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10+  适配ie*/
    color: #666e81;
  }
}
.el-input.is-disabled .el-input__inner {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #495062;
}
.el-textarea__inner {
  font-family: 'Arial', 'Microsoft YaHei', '\9ED1\4F53', '\5B8B\4F53', sans-serif;
}

/* Date Picker */
.el-date-editor .el-range-input {
  background-color: transparent;
  color: $color-text-main;
}
.el-picker-panel {
  .el-input__inner {
    color: #606266;
    border: 1px solid #dcdfe6;
  }
}

/* Dialog */
.el-dialog {
  .el-dialog__header {
    background: $color-table-head;
    padding-bottom: 20px;
  }
  .el-dialog__body,
  .el-dialog__title,
  .el-dialog__headerbtn .el-dialog__close {
    color: $color-text-main;
  }
  .el-dialog__body,
  .el-dialog__footer {
    background-color: $color-table-body;
  }
}

/* Form */
.el-form-item__label {
  color: $color-text-main;
}

/* Radio */
.el-radio {
  color: $color-text-main;
}

/* Transfer */
.el-transfer {
  .el-transfer-panel {
    background-color: $color-table-body;
    color: $color-text-main;
    border: 1px solid $color-border-main;
    .el-transfer-panel__header {
      background-color: $color-table-head;
      border-bottom: 1px solid $color-border-main;
    }
  }
  .el-transfer-panel__header .el-checkbox .el-checkbox__label,
  .el-transfer-panel__item.el-checkbox .el-checkbox__label {
    color: $color-text-main;
  }
  .el-transfer__button.is-disabled,
  .el-transfer__button.is-disabled:hover {
    border: 1px solid $color-primary;
    background: transparent;
    color: $color-primary;
  }
  .el-transfer-panel__item {
    display: block;
  }
}

/* breadcrumb */
.el-breadcrumb {
  .el-breadcrumb__inner {
    .dd-title {
      color: #fff;
    }
  }
  .el-breadcrumb__separator[class*='icon'] {
    font-size: 20px;
  }
  .el-breadcrumb__inner.is-link,
  .el-breadcrumb__inner a {
    .dd-title:hover {
      color: #34c388;
    }
  }
}
