.layout-main {
  .el-menu--horizontal {
    > .el-submenu.is-active .el-submenu__title {
      color: $color-primary;
      &:hover {
        color: $color-primary;
      }
    }

    > .el-submenu .el-submenu__title {
      color: #fff;
      &:hover {
        background: transparent;
        color: $color-text-main;
      }
    }

    > .el-submenu:hover .el-submenu__title {
      color: #a8acb6;
    }

    > .el-submenu:focus .el-submenu__title {
      color: #fff;
    }

    > .el-submenu.is-active {
      .el-submenu__title:hover {
        background-color: transparent;
      }
      .el-submenu__title {
        color: #189bfe;
      }
    }
  }
}
