@import '../public.scss';

$color: $color-primary;
// .#{$prefix}
// 默认主题
.layout-main {
  height: 100vh;
  width: 100vw;
  &.default {
    background-color: $color-bg;
    $dd-theme-header-height: 60px;
    // [全局设置]
    // 关闭所有卡片的阴影
    .el-card {
      box-shadow: none;
      &:hover {
        box-shadow: 0 0 8px 0 rgba(232, 237, 250, 0.6), 0 2px 4px 0 rgba(232, 237, 250, 0.5);
      }
    }
    // [布局]
    .#{$prefix}-layout-header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: $dd-theme-header-height;
      padding: 0px;
      .logo-group {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        margin-right: 20px;
        height: 60px;
        transition: width 0.3s;
        float: left;
        text-align: center;
        color: $color-primary;
        p {
          // color:#fff;
          font-size: 32px;
          font-weight: bolder;
          line-height: 60px;
          margin: 0;
        }
      }
      .toggle-sidemenu-btn {
        float: left;
        height: $dd-theme-header-height;
        margin-top: 17px;
        text-align: left;
        padding: 0 $margin;
        @extend %unable-select;
        i {
          font-size: 20px;
          color: $color-text-normal;
          margin-top: 4px;
        }
        &:hover i {
          color: $color;
        }
      }
      // 顶栏菜单
      .el-menu {
        float: left;
        border-bottom: none;
        background-color: transparent;
        .el-menu-item {
          // border-bottom: none;
          // border-top: 2px solid $color-bg;
          &:hover {
            background-color: transparent;
          }
          &.is-active {
            border-bottom: 2px solid $color;
            background-color: transparent;
          }
        }
      }
      // 顶栏右侧的按钮
      .btn-group {
        float: right;
        height: $dd-theme-header-height;
        display: flex;
        align-items: center;
        .btn-text {
          color: $color-text-normal;
        }
        .el-dropdown {
          @extend %unable-select;
        }
        .el-button--primary {
          box-shadow: 2px 1px 6px 0px #00b1738c;
        }
      }
    }
    // 顶栏下面
    .#{$prefix}-layout-container {
      position: absolute;
      top: $dd-theme-header-height;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      display: flex;
      // 侧边栏
      .#{$prefix}-layout-aside {
        transition: width 0.3s;
        overflow: inherit;
        .el-menu {
          background-color: $color-bg;
          border-right: none;
          &.el-menu--collapse {
            .el-submenu {
              .el-menu {
                background-color: #fff;
              }
            }
            .el-submenu__title {
              text-align: center;
            }
          }
          .el-menu-item {
            &:focus {
              background-color: $color-bg;
            }
            &:hover {
              background-color: $color-bg;
            }
          }
          .el-submenu__title {
            &:hover {
              background-color: $color-bg;
            }
          }
        }
      }
      .#{$prefix}-layout-main {
        flex-grow: 1;
        padding: 0;
        position: relative;
        overflow: hidden;
      }
    }
  }
}
