@import 'vxe-table/styles/variable.scss';

// 局部修改变量
$vxe-primary-color: #189bfe;
$vxe-table-font-color: #343741;
$vxe-table-border-radius: 8px;
$vxe-table-header-background-color: #f4f9fc;
$vxe-table-row-hover-background-color: #f5f7fa;
$vxe-table-border-color: #e2e7ea;
$vxe-table-background-color: #fff;

@import 'vxe-table/styles/table.scss';
@import 'vxe-table/styles/column.scss';
@import 'vxe-table/styles/header.scss';
@import 'vxe-table/styles/body.scss';
@import 'vxe-table/styles/checkbox.scss';
