@font-face {
  font-family: "iconfont"; /* Project id 2487527 */
  src: url('iconfont.woff2?t=1653892369588') format('woff2'),
       url('iconfont.woff?t=1653892369588') format('woff'),
       url('iconfont.ttf?t=1653892369588') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconkuiper:before {
  content: "\e60e";
}

.iconidle:before {
  content: "\e716";
}

.iconinit:before {
  content: "\e717";
}

.iconready:before {
  content: "\e718";
}

.iconstopped:before {
  content: "\e719";
}

.iconrunning:before {
  content: "\e71a";
}

.iconsetting:before {
  content: "\e701";
}

.iconconfig:before {
  content: "\e6f5";
}

.iconhome:before {
  content: "\e6f6";
}

.iconstatus:before {
  content: "\e6f7";
}

.iconAdministration1:before {
  content: "\e6f8";
}

.icondownload:before {
  content: "\e6bb";
}

.iconlanguage:before {
  content: "\e6b0";
}

.iconLicense:before {
  content: "\e6b1";
}

.iconlogout:before {
  content: "\e6b2";
}

.iconsubmit:before {
  content: "\e6b3";
}

.iconabout:before {
  content: "\e6b4";
}

.iconattributed:before {
  content: "\e6b5";
}

.iconuseradmin:before {
  content: "\e6b6";
}

.iconcreate:before {
  content: "\e6b7";
}

.iconpassword:before {
  content: "\e6b8";
}

.icondate:before {
  content: "\e6ba";
}

.iconneuronlogo:before {
  content: "\e6af";
}

.iconalarm:before {
  content: "\e6a2";
}

.iconmanu:before {
  content: "\e6a8";
}

.iconmqdisconnect:before {
  content: "\e6a9";
}

.iconrestart:before {
  content: "\e6aa";
}

.iconshutdown:before {
  content: "\e6ab";
}

.iconstanndby:before {
  content: "\e6ad";
}

.iconupdate:before {
  content: "\e6ae";
}

.iconcomm-down:before {
  content: "\e6a0";
}

.icondisplay:before {
  content: "\e692";
}

.icondelete:before {
  content: "\e693";
}

.iconsearch:before {
  content: "\e695";
}
