@import './emqx-ui-variables.scss';


.side-nav {
  padding-right: 20px;
  border-right: none;
  height: calc(100vh - 100px); // 100px = top with position fixed

  .emqx-menu-item.el-menu-item.is-active {
    background: $--color-primary;
    box-shadow: 0px 10px 18px -6px #189bfe85;
  }
}

.body {
  padding: 40px 0;
  .el-main {
    padding: 0;
  }
}

