body {
  /* Primary */
  --primary-color: #4c63ee;
  /* Border */
  --border-bottom-color: #e2e2e2;
  --border-bottom-active: #4c64eee7;
  --border-bottom-hover: #a8acb636;
  /* Title */
  --crud-title-color: #a2a2a2;
}
