body {
  --color-normal-font: #4d4d4d;
  --color-grey-font: #96999C;
  --main-red-color: #f16538;
  --minor-red-color: #f1663825;
  --main-green-color: #00B173;
  --main-yellow-color: #EC8E18; 
  --card-title-color: #1D1D1D;
  --main-label-color: #96999C;
}
