@import './mixins.scss';

.common-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.common-inline-block {
  display: inline-block;
  vertical-align: top;
}

.ellipsis {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.common-autocomplete_input input {
  border-radius: 8px;
}
.table-row-click {
  cursor: pointer;
}

.operator-wrap {
  @include display-flex(flex-start)
}