$--view-min-width: 1250px;

$--header-heigth: 64px;
$--sidebar-width: 240px;

// padding
$--padding-tb-normal: 24px;
$--padding-lr-normal: 32px;
$--padding-lr-content: 16px;

$--margin-tb-normal: 24px;
$--margin-lr-default: 24px;
$--margin-lr-normal: 32px;

$--menu-active-color: #037ba0;