/* 改变主题色变量 */
$--color-primary: #4c63ee;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-plus/lib/theme-chalk/fonts';

$--regular-text: #4D4D4D;

@import "~element-plus/packages/theme-chalk/src/index";
