#ekuiper-dashboard {
  .layout {
    background-color: #fff;
  }
  .ivu-table th {
    color: #96999c;
  }
  .ivu-btn-primary {
    background-color: #189bfe;
    border-color: #189bfe;
  }
  .ivu-btn-ghost.ivu-btn-primary {
    color: #fff;
  }
  .ivu-card-bordered {
    border: 1px solid #ebeef5;
    border-radius: 8px;
    box-shadow: none;
  }
  .ivu-table-wrapper {
    box-shadow: none;
  }
  .ivu-layout.main-body {
    padding: 0;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar:horizontal {
    height: 6px;
  }
  ::-webkit-scrollbar:vertical {
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #eaeaea !important;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer !important;
    background-color: #0000004d;
  }
}
