#ekuiper-dashboard {
  .layout {
    background-color: #fff;
  }
  .ivu-table th {
    color: #96999c;
  }
  .ivu-btn-primary {
    background-color: #189bfe;
  }
  .ivu-card-bordered {
    border: 1px solid #ebeef5;
    border-radius: 8px;
    box-shadow: none;
  }
  .ivu-table-wrapper {
    box-shadow: none;
  }
}
