/* Divider */
.el-divider__text {
  background-color: #F4F9FC;
  font-weight: 500;
  color: #96999C;
}

/* Dropdown */
.el-dropdown-menu__item {
  [class^="el-icon-"], [class*=" el-icon-"] {
    font-size: 16px;
    margin-right: 8px;
  }
}
.danger.el-dropdown-menu__item:not(.is-disabled):hover,
.danger.el-dropdown-menu__item:focus {
  background-color: var(--minor-red-color);
  color: var(--main-red-color);
}

/* Tabs */
.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  border-bottom-color: #189bfe;
}

/* Date */
.el-date-editor--datetimerange.el-input, .el-date-editor--datetimerange.el-input__inner {
  width: 100%;
  border-radius: 8px;
}
