// 主色
$color-primary: #189bfe;

// 辅助色
$color-info: #909399;
$color-success: #22bb7a;
$color-warning: #f9bc61;
$color-danger: #f36164;

// 文字
$color-text-main: #343741;
$color-text-normal: #a8acb6;
$color-text-placehoder: #c0c4cc;

// 边框
$color-border-main: #e2e7ea;
$color-border-1: #dcdfe6;
$color-border-2: #e4e7ed;
$color-border-3: #ebeef5;
$color-border-4: #f2f6fc;

// 背景
$color-bg: #f4f9fc;
$color-bg-card: #fff;
$color-table-head: #f4f9fc;
$color-table-body: #fff;
$color-table-hover: #f4f7fa;
$color-header: #0c283e;
