// 主色
$color-primary: #314ae5;

// 辅助色
$color-info: #96999C;
$color-success: #00B173;
$color-warning: #EC8E18;
$color-danger: #F16538;

// 文字
$color-text-main: #1d1d1d;
$color-text-normal: #4d4d4d;
$color-text-sub: #96999C;
$color-text-placehoder: #c0c4cc;

// 边框
$color-border-main: #495062;
$color-border-1: #dcdfe6;
$color-border-2: #e4e7ed;
$color-border-3: #ebeef5;
$color-border-4: #f2f6fc;

// 背景
$color-bg: #f3f4f7;
$color-bg-card: #ffffff;
$color-table-head: #f3f4f7;
$color-table-body: #fff;
$color-table-hover: #3f4553;
$color-header: #0c283e;