// 主色
$color-primary: #34C388;

// 辅助色
$color-info: #909399;
$color-success: #22bb7a;
$color-warning: #E6A23C;
$color-danger: #F36164;

// 文字
$color-text-main: #ffffff;
$color-text-normal: #A8ACB6;
$color-text-sub: #A8ACB6;
$color-text-placehoder: #C0C4CC;

// 边框
$color-border-main: #495062;
$color-border-1: #DCDFE6;
$color-border-2: #E4E7ED;
$color-border-3: #EBEEF5;
$color-border-4: #F2F6FC;

// 背景
$color-bg: #2C3039;
$color-bg-card: #333844;
$color-table-head: #414756;
$color-table-body: #333844;
$color-table-hover: #585e63;
