// 主色
$color-primary: #34c388;

// 辅助色
$color-info: #909399;
$color-success: #22bb7a;
$color-warning: #e6a23c;
$color-danger: #f36164;

// 文字
$color-text-main: #ffffff;
$color-text-normal: #a8acb6;
$color-text-sub: #a8acb6;
$color-text-placehoder: #c0c4cc;

// 边框
$color-border-main: #495062;
$color-border-1: #dcdfe6;
$color-border-2: #e4e7ed;
$color-border-3: #ebeef5;
$color-border-4: #f2f6fc;

// 背景
$color-bg: #2c3039;
$color-bg-card: #333844;
$color-table-head: #414756;
$color-table-body: #333844;
$color-table-hover: #3f4553;
