$margin: 20px;

$font-size-title: 24px;
$font-size-main: 18px;
$font-size-normal: 16px;
$font-size-sub: 14px;
$font-size-mini: 12px;

$border-radius: 4px;
$border-radius-card: 12px;
$border-radius-button: 8px;
