.file-item {
  width: 100%;
}
.file-item .label-content {
  position: absolute;
  top: -150%;
  right: 0;
}
.key-value-editor[data-v-24f2abd6] {
  width: 100%;
}
.add-kv--btn[data-v-24f2abd6],
.add-kv--btn[data-v-24f2abd6]:hover {
  color: #34c388;
}
.add-kv--btn[data-v-24f2abd6] {
  padding-left: 0;
}
.table-list-editor[data-v-4ead2f11] {
  width: 100%;
}
.btn-add[data-v-4ead2f11] {
  margin-left: 6px;
}
[data-v-fc8fedc8] .el-table {
  margin-top: -20px;
}
.format-content[data-v-10842644] {
  width: 100%;
}
.advanced[data-v-10842644] {
  color: #34c388;
}
[data-v-6dc01d9f] .el-form-item {
  margin-bottom: 18px !important;
}
.btn-add-container[data-v-6dc01d9f] {
  width: 100%;
  margin-top: -60px;
  display: flex;
  justify-content: flex-end;
}
.confKey-label-wrap[data-v-74ac1bf5] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.field-help[data-v-74ac1bf5] {
  position: relative;
  top: 2px;
  left: 2px;
}
.confKey-label-wrap[data-v-54e7135a] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.field-help[data-v-54e7135a] {
  position: relative;
  top: 2px;
  left: 2px;
}
[data-v-b64bb3ce] .el-select {
  width: 100%;
}
.schema-form[data-v-b64bb3ce] {
  position: relative;
  padding: 0 12px;
  margin-bottom: 60px;
}
.schema-form .no-config[data-v-b64bb3ce],
.schema-form .schema-form-desc[data-v-b64bb3ce] {
  text-align: left;
  color: #fff;
}
.schema-form label[data-v-b64bb3ce] {
  color: #fff;
}
.schema-footer[data-v-b64bb3ce] {
  z-index: 9;
  width: 100%;
  height: 48px;
  line-height: 48px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #333844;
  box-shadow: 0 -3px 14px 2px rgba(0, 0, 0, 0.05), 0 -8px 10px 1px rgba(0, 0, 0, 0.06),
    0 -5px 5px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.schema-footer .btn[data-v-b64bb3ce]:last-child {
  margin-right: 12px;
}
.flow-config-card[data-v-c84bcc10] {
  background-color: #333844;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  height: 100%;
  overflow-y: scroll;
}
.flow-config-card .config-header[data-v-c84bcc10] {
  padding: 12px 24px;
  margin-bottom: 12px;
  border-bottom: 1px solid #414756;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}
.flow-config-card .config-header a[data-v-c84bcc10] {
  color: #4e5969;
  cursor: pointer;
  line-height: 1;
}
.flow-config-card .config-header a[data-v-c84bcc10]:hover {
  color: #34c388;
}
.flow-config-card .config-title[data-v-c84bcc10] {
  margin-bottom: 12px;
  text-align: left;
  line-height: 24px;
  color: #fff;
}
.flow-config-card .config-title.has-bg[data-v-c84bcc10] {
  padding-left: 8px;
  background: linear-gradient(270deg, rgba(52, 195, 136, 0), rgba(52, 195, 136, 0.659));
}
.flow-config-card .ant-btn-primary[data-v-c84bcc10] {
  margin-top: 12px;
}
.flow-config-card .schema-form .ant-form[data-v-c84bcc10] {
  color: #4e5969;
}
[data-v-647f8166] .dbnode {
  height: 42px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  font-weight: 500;
  cursor: -webkit-grab;
  cursor: grab;
}
[data-v-647f8166] .el-icon.el-sub-menu__icon-arrow {
  display: none;
}
.label[data-v-647f8166] {
  width: 100%;
}
[data-v-4e47a994] .el-menu {
  --el-menu-item-height: 48px;
  --el-menu-sub-item-height: 42px;
  --el-menu-base-level-padding: 20px;
  --el-menu-level-padding: 20px;
  border-right: none;
}
[data-v-4e47a994] li {
  font-weight: 500;
}
[data-v-4e47a994] li.el-sub-menu .el-sub-menu__title,
[data-v-4e47a994] li.el-sub-menu .el-sub-menu__title:hover {
  background-color: inherit;
  color: #cfcfcf;
}
[data-v-4e47a994] li.el-menu-item {
  background-color: #393f4e;
  margin-left: 16px;
}
[data-v-4e47a994] li.el-menu-item:hover {
  border: 1px solid #34c388;
  background: #2e3442;
}
[data-v-4e47a994] li.el-menu-item.is-active {
  background: #2e3442;
  border: 1px solid #34c388;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.flow-sidebar[data-v-4e47a994] {
  background-color: #414756;
  padding: 15px 10px;
  font-size: 14px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  height: 100%;
  overflow: scroll;
}
.flow-sidebar .description[data-v-4e47a994] {
  margin-bottom: 10px;
}
.flow-sidebar .group-name[data-v-4e47a994] {
  color: #cfcfcf;
  font-size: 14px;
  padding: 12px 0;
}
.flow-sidebar .el-sub-menu.level-1 > .el-sub-menu__title[data-v-4e47a994] {
  font-size: 16px;
  font-weight: 600;
}
.flow-sidebar .el-sub-menu.level-2 > .el-sub-menu__title[data-v-4e47a994] {
  font-size: 14px;
  font-weight: 600;
}
.field-help[data-v-55438076] {
  position: relative;
  top: 2px;
}
.name-dialog .icon-suc[data-v-fe8d4f30],
.name-dialog .text-suc[data-v-fe8d4f30] {
  color: var(--el-color-success);
}
.name-dialog .text-suc[data-v-fe8d4f30] {
  margin-bottom: 24px;
}
.name-dialog .block-submitted[data-v-fe8d4f30] {
  text-align: center;
}
.name-dialog .block-submitted .el-button[data-v-fe8d4f30] {
  display: block;
  margin: 12px auto;
  width: 220px;
  text-align: center;
}
.flow,
[data-v-fe8d4f30] .el-select {
  width: 100%;
}
.flow {
  display: flex;
  height: 100%;
  padding: 0;
}
.flow #drawflow,
.flow #drawflow .drawflow {
  min-height: calc(100vh - var(--1f83028d));
}
.flow .config-card,
.flow .sidebar,
.flow .sidebar > .el-menu {
  min-height: calc(100vh - var(--1f83028d));
  max-height: calc(100vh - var(--1f83028d));
}
.flow .sidebar {
  width: 18%;
  height: 100%;
}
.flow .sidebar .el-sub-menu .el-menu-item {
  min-width: calc(100% - 30px);
  max-width: calc(100% - 30px);
}
.flow .config-card {
  position: relative;
  z-index: 0;
  width: 20%;
  box-shadow: 0 3px 14px 2px rgba(0, 0, 0, 0.05), 0 8px 10px 1px rgba(0, 0, 0, 0.06), 0 5px 5px -3px rgba(0, 0, 0, 0.1);
}
.flow #drawflow {
  display: block;
  position: relative;
  width: 62%;
}
.flow .controls {
  position: absolute;
  bottom: var(--25c8bebf);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 4px;
  background: #484f61;
  border-radius: 4px;
  font-size: 20px;
}
.flow .controls .el-icon {
  cursor: pointer;
}
.flow .controls .el-button + .el-button {
  margin-left: 6px;
}
.flow .controls .el-button {
  padding: 4px 4px;
  color: #fff;
}
.cars {
  margin: 48px;
}
.cars .table-header {
  justify-content: space-between;
}
.cars .status,
.cars .table-header {
  display: flex;
  align-items: center;
}
.cars .status .el-icon {
  margin-right: 5px;
}
.cars .success {
  color: #67c23a;
}
.cars .warning {
  color: #e6a23c;
}
[id^='__qiankun'],
html.dark {
  --el-color-primary: #34c388;
  --el-color-primary-light-3: #71d5ac;
  --el-color-primary-light-4: #85dbb8;
  --el-color-primary-light-5: #9ae1c4;
  --el-color-primary-light-6: #aee7cf;
  --el-color-primary-light-7: #c2eddb;
  --el-color-primary-light-8: #d6f3e7;
  --el-color-primary-light-9: #ebf9f3;
  --el-color-primary-dark-2: #2a9c6d;
  --el-color-success: #00b173;
  --el-color-success-light-3: #4dc89d;
  --el-color-success-light-4: #66d0ab;
  --el-color-success-light-5: #80d8b9;
  --el-color-success-light-6: #99e0c7;
  --el-color-success-light-7: #b3e8d5;
  --el-color-success-light-8: #ccefe3;
  --el-color-success-light-9: #e6f7f1;
  --el-color-success-dark-2: #008e5c;
  --el-color-warning: #f6ab28;
  --el-color-warning-light-3: #f9c469;
  --el-color-warning-light-4: #facd7e;
  --el-color-warning-light-5: #fbd594;
  --el-color-warning-light-6: #fbdda9;
  --el-color-warning-light-7: #fce6bf;
  --el-color-warning-light-8: #fdeed4;
  --el-color-warning-light-9: #fef7ea;
  --el-color-warning-dark-2: #c58920;
  --el-bg-color: #333844;
  --el-bg-color-overlay: #495062;
  --el-border-color: #495062;
  --el-border-color-hover: #34c388;
  --el-border-radius-base: 8px;
  --el-menu-bg-color: #414756;
  --el-menu-active-color: #fff;
  --el-mask-color: #495062;
  --el-input-bg-color: #333844;
  --el-text-color-primary: #e5eaf3;
  --el-text-color-regular: #a3a6ad;
  --el-text-color-secondary: #9a9c9c;
  --el-text-color-placeholder: #8d9095;
  --el-text-color-disabled: #6c6e72;
  --el-border-color-darker: #636466;
  --el-border-color-dark: #58585b;
  --el-menu-text-color: var(--el-text-color-primary);
  --el-input-bg-color: #495062;
}
.el-button + .el-button {
  margin-left: 10px;
}
.select-popper.el-popper,
.select-popper.el-popper .el-popper__arrow:before {
  border: none !important;
}
.select-popper.el-popper .el-select-dropdown__item {
  color: var(--el-text-color-regular) !important;
}
.select-popper.el-popper .el-select-dropdown__item.hover {
  background-color: hsla(223, 9%, 69%, 0.5) !important;
  color: #495062;
}
.el-select .el-input__wrapper {
  border-radius: 8px;
  background-color: #333844;
  border-color: #495062;
  box-shadow: none;
  border: 1px solid #495062;
}
.el-input {
  color: #fff;
}
.el-input .el-input__wrapper {
  background-color: inherit;
}
.el-input__inner {
  color: #fff;
  background-color: #333844;
}
.el-input-number {
  width: 100%;
}
.el-input-number .el-input__inner {
  text-align: left;
}
.el-form-item__label {
  color: #a8acb6;
  font-weight: 600;
}
.el-tooltip__trigger.field-help {
  color: #a8acb6;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  top: 3px;
  left: 2px;
}
.el-popper {
  max-width: 400px;
}
.advanced,
.more {
  color: #34c388;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(/web/common/flow/static/fonts/Roboto-Regular.298c1099.ttf) format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url(/web/common/flow/static/fonts/Roboto-Bold.8840acc7.ttf) format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  src: url(/web/common/flow/static/fonts/Roboto-Black.f5c1f914.ttf) format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  src: url(/web/common/flow/static/fonts/Roboto-Italic.095b01bb.ttf) format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  src: url(/web/common/flow/static/fonts/Roboto-BoldItalic.853ac108.ttf) format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 900;
  src: url(/web/common/flow/static/fonts/Roboto-BlackItalic.2f51d379.ttf) format('truetype');
}
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  color: var(--el-text-color-primary);
}
#sub-app,
body,
html {
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar:vertical {
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.302);
}
input[type='radio'] {
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  -moz-appearance: inherit;
  appearance: inherit;
  -webkit-appearance: inherit;
  border-radius: 50%;
  outline: 1px solid #ccc;
  background-color: #fff;
}
input[type='radio']:hover {
  outline-color: #a8acb6;
}
input:checked {
  border: 2px solid #fff;
  background-color: #34c388;
}
input:checked,
input:checked:hover {
  outline-color: #34c388;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}
#drawflow {
  position: relative;
  width: 100%;
  height: 100%;
  background: #333844;
  background-size: 12px 12px;
  background-image: radial-gradient(#555b69 20%, transparent 0), radial-gradient(#555b69 20%, transparent 0);
}
.drawflow .drawflow-node {
  width: 200px;
  background: #333844;
  box-sizing: border-box;
  border-width: 4px 1px 1px;
  border-radius: 4px;
  border-style: solid;
  padding: 8px 12px;
}
.drawflow .drawflow-node.is-source,
.drawflow .drawflow-node.is-source.selected {
  border-color: #0082ff;
}
.drawflow .drawflow-node.is-function,
.drawflow .drawflow-node.is-function.selected,
.drawflow .drawflow-node.is-operator,
.drawflow .drawflow-node.is-operator.selected {
  border-color: #d7651f;
}
.drawflow .drawflow-node.is-sink,
.drawflow .drawflow-node.is-sink.selected {
  border-color: #00b173;
}
.drawflow .drawflow-node.selected {
  background-color: #484f61;
}
.drawflow .drawflow-node.multiple-hooks .inputs,
.drawflow .drawflow-node.multiple-hooks .outputs {
  margin-top: 34px;
}
.drawflow .drawflow-node .title-box {
  height: 50px;
  line-height: 50px;
  background: var(--background-box-title);
  border-bottom: 1px solid #e9e9e9;
  border-radius: 4px 4px 0 0;
  padding-left: 10px;
}
.drawflow .drawflow-node .title-box svg {
  position: static;
}
.drawflow .drawflow-node.slack .title-box {
  border-radius: 4px;
}
.drawflow .drawflow-node.welcome {
  width: 250px;
}
.drawflow .drawflow-node .box {
  padding: 10px 20px 20px 20px;
  font-size: 14px;
  color: #555;
}
.drawflow .drawflow-node .box p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.drawflow .drawflow-node input,
.drawflow .drawflow-node select,
.drawflow .drawflow-node textarea {
  border-radius: 4px;
  border: 1px solid var(--border-color);
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  width: 158px;
  color: #555;
}
.drawflow .drawflow-node textarea {
  height: 100px;
}
.basic-node {
  position: relative;
}
.basic-node .node-hd {
  display: flex;
  min-height: 30px;
}
.basic-node .node-hd .node-name {
  line-height: 30px;
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}
.basic-node .node-bd {
  display: flex;
  justify-content: space-between;
}
.basic-node .node-bd .node-hooks {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  flex-basis: 50%;
  flex-shrink: 0;
  color: #cfcfcf;
  font-size: 12px;
}
.basic-node .node-bd .node-hooks.is-input {
  text-align: left;
}
.basic-node .node-bd .node-hooks.is-output {
  text-align: right;
}
.basic-node .node-bd .node-hooks li {
  margin-left: 0;
}
.basic-node .show-chart {
  margin-left: 12px;
}
.drawflow .drawflow-node .input,
.drawflow .drawflow-node .output {
  height: 8px;
  width: 8px;
  border: 2px solid #adb7d0;
  background-color: #adb7d0;
}
.drawflow .drawflow-node .output {
  right: -6px;
}
.drawflow .drawflow-node .input {
  left: -18px;
}
.drawflow .drawflow-node .input:hover,
.drawflow .drawflow-node .output:hover {
  background: #4ea9ff;
}
.drawflow .connection .main-path {
  stroke: #adb7d0;
  stroke-width: 1px;
}
.drawflow .connection {
  left: 0;
}
.drawflow .connection .point {
  stroke: var(--border-color);
  stroke-width: 2;
  fill: #fff;
}
.drawflow .connection .point.selected,
.drawflow .connection .point:hover {
  fill: #4ea9ff;
}
.drawflow-node.personalized {
  height: 200px;
  text-align: center;
  color: #fff;
}
.drawflow-node.personalized .input {
  background: #34c388;
}
.drawflow-node.personalized .output {
  background: #43b993;
}
.drawflow-node.personalized.selected {
  background: #4ea9ff;
}
.drawflow > .drawflow-delete {
  border: 1px solid #43b993;
  background: #fff;
  color: #43b993;
}
.drawflow-delete {
  width: 16px;
  height: 16px;
  border: 1px solid #4ea9ff;
  background: #fff;
  color: #4ea9ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
